/*
 * 响应式样式
 */

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.hotel-v,
.meeting-and-events,
.photo-gallery,
.testimonials,
.hotel-detail,
.things-to-do {
    order: 10;
}

.things-to-do {
    display: none;
}

@media screen and (max-width: 459px) {
    .hotel-v {
        order: 0;
    }
}

@media screen and (min-width: 460px) {
    .hotel-v {
        order: 0;
    }
    #content{
        width: 75%;
        order: 2;
    }
    .hotel-detail {
        width: 25%;
        order: 1;
    }
}

@media screen and (min-width: 650px) {

}

@media screen and (min-width: 950px) {

}

@media screen and (min-width: 1307px) {
    main, .container {
        width: 1307px;
        margin-left: auto;
        margin-right: auto;
    }
}