/*
 * 响应式样式
 */

.container {
    display: flex;
    flex-wrap: wrap;
}

.content {
    width: 100%;
}

.hotel-v,
.meeting-and-events,
.photo-gallery,
.testimonials,
.hotel-detail,
.things-to-do {
    order: 10;
}

.things-to-do {
    display: none;
}

/* 0 - 459 */
@media screen and (max-width: 459px) {
    .hotel-v {
        order: 0;
    }
}
/* 460 - 649 */
@media screen and (min-width: 460px) {
    .hotel-v {
        order: 0;
    }
    .hotel-detail {
        width: 25%;
        order: 1;
    }
    #content{
        width: 75%;
        order: 2;
    }
}
/* 650 - 949 */
@media screen and (min-width: 650px) {
    .hotel-v {
        width: 20%;
        order: 0;
    }
    .hotel-detail {
        width: 20%;
        order: 1;
    }
    #content{
        width: 60%;
        order: 2;
    }
    .contact {
        width: 25%;
    }
    .footer-col {
        width: 25%;
    }
    .subscribe {
        width: 25%;
    }
    .hotels-group {
        width: 25%;
    }
}
/* 950 - 1249 */
@media screen and (min-width: 950px) {
    .hotel-v {
        width: 10%;
        order: 0;
    }
    .hotel-detail {
        width: 15%;
        order: 1;
    }
    #content{
        width: 60%;
        order: 2;
    }
    .things-to-do {
        width: 15%;
        order: 3;
        display: block;
    }
}
/* 1250+ */
@media screen and (min-width: 1250px) {
    main, .container, .copyright {
        max-width: 1307px;
        margin-left: auto;
        margin-right: auto;
    }
    .hotel-v {
        width: 6.66%;
        order: 0;
    }
    .hotel-detail {
        width: 13.33%;
        order: 1;
    }
    #content{
        width: 60%;
        order: 2;
    }
    .things-to-do {
        width: 20%;
        order: 3;
        display: block;
    }
}